STORAGE_PATH=data/database.sqlite
WORKSPACE_DIR=workspace
RUNTIME_TYPE=local-docker
ENABLE_KNOWLEDGE=ON
CF_AI_USE=false
CF_ACCOUNT_ID=
CF_API_TOKEN=
CF_AI_MODEL=@cf/meta/llama-3.1-8b-instruct
CF_AURA_MODEL=@cf/deepgram/aura-1
CF_BART_MODEL=@cf/facebook/bart-large-cnn
CF_BGE_MODEL=@cf/baai/bge-base-en-v1.5
CF_BGE_SMALL_MODEL=@cf/baai/bge-small-en-v1.5
CF_BGE_LARGE_MODEL=@cf/baai/bge-large-en-v1.5
CF_EMBEDDING_GEMMA_MODEL=@cf/google/embeddinggemma-300m
CF_BGE_M3_MODEL=@cf/baai/bge-m3
CF_BGE_RERANKER_MODEL=@cf/baai/bge-reranker-base
CF_DEEPSEEK_CODER_MODEL=@hf/thebloke/deepseek-coder-6.7b-base-awq
CF_DREAMSHAPER_MODEL=@cf/lykon/dreamshaper-8-lcm
CF_DEEPSEEK_CODER_INSTRUCT_MODEL=@hf/thebloke/deepseek-coder-6.7b-instruct-awq
CF_DEEPSEEK_MATH_MODEL=@cf/deepseek-ai/deepseek-math-7b-instruct
CF_DETR_RESNET_MODEL=@cf/facebook/detr-resnet-50
CF_FALCON_MODEL=@cf/tiiuae/falcon-7b-instruct
CF_FLUX_MODEL=@cf/deepgram/flux
CF_GEMMA_MODEL=@cf/google/gemma-3-12b-it
CF_DISTILBERT_MODEL=@cf/huggingface/distilbert-sst-2-int8
CF_GEMMA_7B_MODEL=@hf/google/gemma-7b-it
CF_GEMMA_7B_LORA_MODEL=@cf/google/gemma-7b-it-lora
CF_GEMMA_7B_MODEL=@hf/google/gemma-7b-it
CF_GEMMA_SEA_LION_MODEL=@cf/aisingapore/gemma-sea-lion-v4-27b-it
CF_GEMMA_7B_MODEL=@hf/google/gemma-7b-it
CF_GPT_OSS_20B_MODEL=@cf/openai/gpt-oss-20b
CF_GEMMA_7B_MODEL=@hf/google/gemma-7b-it
